.gxa-selection-icon {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 2px;
}
.gxa-selection-icon:hover {
  border: 1px solid orange;
  background: lightgoldenrodyellow;
  cursor: pointer;
}
.rounded-corners {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.right-dimensions {
  width: 100%;
  height: auto;
  padding: 2px;
}
